h1{
	color: red;
}
img{
	width: 400px;
}
#thirdDiv{
	background-color: green;
    width: 500px;
    height: 600px;
    padding: 50px;
    border:solid red 10px;
}
#spanId{
	font-size:18px;
	margin: 50px;

}